#pagecontainer {
    margin-top: 75px;
}

.section-header {
    padding-top: 60px;
    margin-top: -60px;
}

.cover-page-block {
    background-color: rgba(0,0,0,0.5);
    padding: 30px 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.headbar {
    position: fixed;
    top: 0;
    width: 60%;
    left: 20%;
}