/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

.site-wrapper-inner {
    flex: 1 1 auto;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 2rem;
}



/*
 * Cover
 */
 .cover {
    padding: 0 1.5rem;
}
.cover-page-block {
    background-color: rgba(0,0,0,0.5);
    padding: 30px 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 80%;
}


/*
 * Header
 */

.masthead {
    font-size: large;
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}


/*
 * Footer
 */
.mastfoot {
    color: rgba(255,255,255,.5);
}


@media (min-width: 40em) {
    /* Have some margin for page content */
    .masthead {
        margin-left: auto;
        margin-right: auto;
    }

    .cover-page-block{
        display: flex;
        flex-direction: column;
        height: min-content;
    }   

    /* Handle the widths */
    .masthead,
    .cover-container {
        width: 80%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 62em) and (min-height: 400px) {
    .cover-page-block{
        
        margin:0 auto;
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
    }
    
}

@media (min-width: 62em) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 49rem;
    }
}
/*Styles for "desktop mode" on mobile*/
@media screen and (orientation: portrait) and (min-width: 40em){
    .site-wrapper-inner{
        justify-content: flex-start;
    }
}