

.blogpost-nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
}

.blogpost-nav > .nav-item {
    flex: 1 1 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--bg-primary);
    filter: brightness(80%);
    cursor: pointer;
}
.blogpost-nav > .nav-item.active {
    filter: none;
}
.blogpost-nav > .nav-item:hover {
    background-color: var(--bg-light);
}

.blogpost-container{
    background-color: var(--bg-primary);
    padding: 10px;
    padding-bottom: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.blogpost-container > div {
    display: none;
}

.blogpost-container > .mobile-show {
    display: block;
}

.filter-checkbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.blogpost-item{
    display: grid;

}

@media (min-width: 40em) {
    .blogpost-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 10px;
    }
    .mobile-only{
        display: none;
    }
    .blogpost-container > div{
        display: block;
    }
    .site-content{
        width: 80%;
        max-width: 60rem;
        margin:auto;
    }
}

@media (min-width: 62em){
    
    .blogpost-container{
        grid-template-columns: 1fr 2fr;
    }

    .blogpost-item{
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 10px;
    }

}
