.site-content {
    background-color: var(--bg-primary);
    border-radius: 10px;
    padding: 5px;
}

.blogpost-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.blogpost-header-container {
    transition: all 1s ease-in;
}

.blogpost-header {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.expandable {
    transition: max-height 0.5s ease-in-out, opacity 0.5s, margin 0.5s;
    overflow: hidden;
}

.expandable.min {
    margin: 0;
    max-height: 0px;
    opacity: 0;
}

.expandable.exp {
    max-height: 100vh;
    opacity: 100%;
}

.dropdown-item {
    margin: 0 20% 5px;
    text-align: left;
}

.dropdown-item>a {
    color: #eee;
    text-decoration: underline;
}

.blog-img {
    max-width: 20rem;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--bg-dark);
}

iframe {
    max-width: 25rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--bg-dark);
}


.desktop-only {
    display: none;
}

.blog-body {
    padding: 5px 10px;
}
pre > code {
    text-align: left;
}

@supports(position: sticky) {
    .blogpost-header-container {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: 0;
    }
}

@media (min-width: 45em) {
    .site-content {
        width: 80%;
        max-width: 60rem;
        margin: auto;
    }

    .mobile-only {
        display: none;
    }

    .blogpost-container {
        display: grid;
        grid-template-columns: minmax(100px, 2fr) minmax(0, 1fr);
    }

    .desktop-only {
        display: block;
    }

    .overview-card {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: 10px;
    }
}